@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
	font-family: "Great Vibes", "Helvetica Neue", sans-serif;
	background-color: antiquewhite;
	margin: 0;
}

#root {
	border-radius: 3px;
	margin: 60px auto auto auto;
	height: 720px;
	width: 880px;
	background-color: rgb(250, 244, 237);
}

.home {
	height: 100%;
	width: 90%;
	margin: auto;
	text-align: center;
}

.home h1 {
	font-weight: 600;
	font-size: xxx-large;
	padding: 45px 0 10px 0;
	border-width: 0 0 2px 0;
	border-color: rgba(247, 222, 191, 0.466);
	border-style: solid;
	border-radius: 0 0 10px 10px;
}

/*************************************************************** PAGE 1 */

.page-1 {
	margin-top: 75px;
}

.page-1 p {
	font-size: xx-large;
	font-weight: 400;
}

.page-1 p:first-of-type {
	margin: 30px auto 15px auto;
}

.page-1 input,
.page-1 option,
.page-1 select,
.page-1-view-hrs {
	font-size: x-large;
	font-family: "Great Vibes", "Helvetica Neue", sans-serif;
	text-align: center;
	width: 250px;
	height: 30px;
	margin: auto;
	display: block;
	outline: none;
	border-color: rgba(247, 211, 167, 0.432);
	border-style: solid;
}

.page-1-submit,
.page-1-view-hrs {
	background-color: rgba(247, 211, 167, 0.432);
	transition: ease 0.5s;
}

.page-1-submit:hover,
.page-1-view-hrs:hover {
	background-color: rgba(247, 190, 121, 0.432);
}

/*************************************************************** PAGE 2 */

.page-2 p {
	text-align: left;
	margin: 0 0 5px 40px;
	font-size: x-large;
	font-weight: 400;
}

.week-grid {
	margin-top: 25px;
	margin-left: -33px;
	width: 110%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 2;
}

.grid-span input {
	font-size: x-large;
	border-color: rgba(247, 211, 167, 0.432);
	font-family: "Great Vibes", "Helvetica Neue", sans-serif;
	border-style: solid;
	padding-top: 3px;
	padding-left: 5px;
	height: 30px;
	width: 30%;
	display: inline;
}

.grid-span p {
	margin-left: 10px;
	display: inline;
}

.hour-eval p:first-of-type {
	margin-top: 40px;
}

.hour-eval p {
	text-align: center;
	margin-bottom: 10px;
}

.page-2-button,
.page-3-button {
	outline: none;
	border-color: rgba(247, 211, 167, 0.432);
	border-style: solid;
	font-size: x-large;
	font-family: "Great Vibes", "Helvetica Neue", sans-serif;
	text-align: center;
	width: 258px;
	height: 40px;
	background-color: rgba(247, 211, 167, 0.432);
	transition: ease 0.5s;
	margin: 40px auto;
}

.page-2-button:hover,
.page-3-button:hover {
	background-color: rgba(247, 190, 121, 0.432);
}

/*************************************************************** PAGE 2 */

.page-3 p {
	margin: 0;
	font-size: x-large;
	font-weight: 400;
}

.page-3-grid {
	margin: 60px 0 40px -34px;
	width: 110%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 80% 20%;
}

.page-3-grid .grid-span p:last-of-type {
	padding-left: 5px;
}

.final-review-p p {
	padding: 10px 0;
	border-width: 0 0 1px 0;
	border-color: rgba(243, 207, 164, 0.356);
	border-style: solid;
}

.page-3-final-grid {
	margin-left: -34px;
	width: 110%;
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page-3-final-grid p {
	max-width: 90%;
	margin: auto;
}

.page-3-button {
	margin: auto 25px -15px auto;
	width: 150px;
	height: 70px;
	padding-top: 5px;
}
